openapi: 3.2.0
info:
  title: Litmus Clients API
  version: 1.0.0
  contact:
    name: Litmus Support
    url: https://www.litmus.com/support/
  termsOfService: https://www.litmus.com/terms-of-service/
  description: 'Operations tagged Clients across 2 of this provider''s published API definitions: litmus-instant-openapi.yml, litmus-legacy-previews-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://instant-api.litmus.com/v1
  description: Litmus Instant API Production Server
- url: https://previews-api.litmus.com/api/v1
  description: Litmus Legacy Previews API Production Server
tags:
- name: Clients
  description: Available email client configurations
paths:
  /clients:
    get:
      operationId: listEmailClients
      summary: Litmus List available email clients
      description: Returns the list of email client identifiers available for preview generation. Each entry includes the client ID, display name, platform category, and whether the client is currently available for rendering.
      tags:
      - Clients
      responses:
        '200':
          description: List of available email clients
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmailClient'
        '401':
          description: Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
    servers:
    - url: https://instant-api.litmus.com/v1
      description: Litmus Instant API Production Server
components:
  schemas:
    EmailClient:
      type: object
      description: An email client available for preview rendering
      properties:
        id:
          type: string
          description: Unique identifier for the email client
          example: gmail_chrome
        name:
          type: string
          description: Human-readable display name of the email client
          example: Gmail (Chrome)
        platform:
          type: string
          description: Platform category of the email client
          enum:
          - desktop
          - mobile
          - webmail
          example: webmail
        available:
          type: boolean
          description: Whether this client is currently available for rendering
          example: true
    Error:
      type: object
      description: An API error response
      required:
      - message
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Invalid or expired access token
        code:
          type: string
          description: Machine-readable error code
          example: unauthorized
    Error_2:
      type: object
      description: An API error response
      required:
      - message
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Authentication required
        code:
          type: string
          description: Machine-readable error code
          example: unauthorized
    LegacyClient:
      type: object
      description: An email client available for legacy preview testing
      properties:
        slug:
          type: string
          description: Identifier used when specifying this client in test requests
          example: GMAIL
        name:
          type: string
          description: Human-readable display name of the email client
          example: Gmail
        platform:
          type: string
          description: Platform category of the email client
          enum:
          - desktop
          - mobile
          - webmail
          example: webmail
        available:
          type: boolean
          description: Whether this client is currently available for rendering
          example: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token obtained via the Litmus OAuth flow
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth using Litmus account username and password
x-refined-from:
- litmus-instant-openapi.yml
- litmus-legacy-previews-openapi.yml
